<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="mb-3"><% include ./partials/nav %></div>
    <h1><%= title %></h1>
    <p>!UNDER CONSTRUCTION!</p>
  </body>
</html>